/* Signup.module.css */
.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url("https://static.vecteezy.com/system/resources/previews/015/286/180/non_2x/abstract-doctor-medical-line-medical-treatment-illustration-concept-and-icon-modern-on-health-background-health-insurance-vector.jpg")
    no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  
}

.card {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  color: #fff;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.subtitle {
  text-align: center;
  color: #ccc;
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.input::placeholder {
  color: #ccc;
}

.button {
  width: 100%;
  padding: 0.8rem;
  background: #6366f1;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(99, 102, 241, 0.3);
  transition: background 0.3s ease;
}

.button:hover {
  background: #473feb;
}
.signupLink:hover{
    color   :  rgb(8, 155, 234);
}